---
import Layout from "../layouts/Default.astro";
---

<Layout title="首頁">
    <div
        class="flex flex-col text-center items-center justify-center absolute inset-0"
    >
        <span>元皓</span>
    </div>
</Layout>
