---
import { SITE_NAME } from "../consts";
---

<nav class="flex flex-row justify-between text-center items-center py-4 px-2">
    <h2 class="text-xl"><a href="/">{SITE_NAME}</a></h2>
    <div class="flex flex-row space-x-4">
        <a href="/about" class="hover:underline"></a>
        <a href="/contact" class="hover:underline">Contact</a>
    </div>
</nav>
