---

---

<div
    class="prose prose-slate max-w-none dark:prose-invert
    prose-headings:font-bold prose-headings:tracking-tight prose-headings:no-underline
    prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl
    prose-p:text-left prose-p:leading-7
    prose-a:text-primary prose-a:no-underline hover:prose-a:underline
    prose-img:rounded-xl prose-img:shadow-lg
    prose-pre:rounded-xl prose-code:before:content-none prose-code:after:content-none
    dark:prose-a:text-primary"
>
    <slot />
</div>
