---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_NAME } from "../consts";

interface Props {
    title?: string;
    description?: string;
}
const desc = Astro.props.description ?? SITE_DESCRIPTION;
---

<!doctype html>
<html lang="zh-tw">
    <head>
        <BaseHead
            title={`${Astro.props.title === undefined ? "" : `${Astro.props.title} | `}${SITE_NAME}`}
            description={desc.length > 160 ? desc.slice(0, 157) + "..." : desc}
        />
    </head>
    <body>
        <Header />
        <main class="min-h-screen px-4 pt-24 md:pt-8">
            <slot />
        </main>
        <Footer />
    </body>
</html>
